@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
	font-family: 'Roboto';
}
*{
	box-sizing: border-box;
}
/*--------------------------------------------------------header area--------------------------------------------------------*/

/*--------------------------------------------------------navigation bar area--------------------------------------------------------*/
.navbar__container{
	/* background-color: #7DDD4F; */
	/* background-color: #00E676; */
	background-color: #C62828;
	display: flex;
	max-height: 56px;
	height: 56px;
}
.navbar__links{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	position: relative;
}
.navbar__links .navbar__item{
	color: #ffffff;
	padding: 16px;
	text-decoration: none;
	transition: .3s;
}
.navbar__links .navbar__item:hover{
	/* background-color:#E57373; */
	color: #E57373;
	transition: .3s;
}
.navbar__options__user{
	align-items: center;
	position: relative;
	right: 0;
}
.navbar__options__user .navbar__item{
	text-decoration: none;
	color: #ffffff;
	padding: 16px;
	transition: .3s;
}
.navbar__options__user .navbar__item:hover{
	/* background-color:#E57373; */
	color: #E57373;
	transition: .3s;
}
.dropdown .dropdown__content{
	display: none;
	position: absolute;
	background-color: #C62828;
	width: 250px;
	left: 0;
	top:35px;
	box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.54);
	z-index: 1;
}
.dropdown__content a{
	color: #ffffff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	border-bottom: solid 1px #E57373;
	height: 56px;
}
.dropdown__content a:nth-last-child(1){
	border:none;
}
.dropdown:hover .dropdown__content{
	display: block;
}
.dropdown span{
	padding-left: 8px;
}
.dropdown__content a{
	padding: 16px;
	transition: .3s;
}
.dropdown__content a:hover{
	color: #E57373;
	transition: .3s;
	text-decoration: none;
}
.secondary__dropdown{
	position:relative;
	height: 56px;
}
.secondary__dropdown__content{
	display: none;
	background-color: #C62828;
	width: 250px;
	box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.54);
	margin-left: 64px;
}
.secondary__dropdown__content a{
	color: #ffffff;
	text-decoration: none;
	border-bottom: solid 1px #E57373;
	height: 56px;
}
.secondary__dropdown__content a:nth-last-child(1){
	border:none;
}
.secondary__dropdown:hover .secondary__dropdown__content{
	display: block;
}
.secondary__row a{
	padding: 16px;
	transition: .3s;
}
.secondary__row a:hover{
	/* background-color:#E57373; */
	color: #E57373;
	transition: .3s;
}
.secondary__dropdown i{
	position: absolute;
	right: 28px;
}
.form__search__area{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form__search__area input{
	border: 2px solid #ffffff;
	font-weight: lighter;
	text-indent: 16px;
	padding-right: 16px;
	width: 100%;
	height: 40px;
	background: transparent;
	color: #fef1ec;
	border-radius: 8px;
	cursor: pointer;
	transition: all ease-in-out .2s;
}

.form__search__area i{
	color: #ffffff;
	cursor: pointer;
}
/*--------------------------------------------------------body area--------------------------------------------------------*/
.container__title{
	text-align: center;
}
tr:hover:not(:nth-child(1)){
	cursor: pointer;
}
.search__person__container{
	display: flex;
	justify-content: flex-end;
}
.search__person{
	padding: 16px 0px;
}
.search__person input{
	border: solid 1px rgba(0, 0, 0, 0.19);
	border-radius: 8px;
	padding: 4px 8px;
	cursor: pointer;
}
.search__person input:focus{
	box-shadow: 0px 1px 5px rgba(255, 0, 0, .19);
	transition: all ease-in-out .2s;
	border-color: #BDBDBD;
}
/*--------------------------------------------------------footer area--------------------------------------------------------*/
.footer__container{
	display: flex;
	border-top: 2px solid gray;
	height: 200px;
	width: 100%;
	bottom: 0;
	position: fixed;
}
.footer__logo__container{
	width: 100%;
	max-width: 300px;
	background: #333333;
	height: 100%;
	position: relative;
}
.footer__logo{
	max-width: 200px;
	width: 100%;
	position: absolute;
	right: 32px;
	top: 32px;
	color: #ffffff;
}
.footer__container__columns{
	display: flex;
	background-color:#333333;
	width: 100%;
	height: 100%;
	position: relative;
}
.footer__column{
	color:  #ffffff;
}
.footer__nav__links{
	display: flex;
	flex-direction: column;
	padding-bottom: 32px;
	left: 0;
}
.footer__nav__links a{
	text-decoration: none;
	color: #B3E5FC;
	font-size: 0.85em;
	padding: 0 32px 0 64px;
}
.footer__nav__links a:hover{
	text-decoration: underline;
}
.footer__column__title{
	font-size: 90%;
	padding: 16px 64px 0 64px;
	text-transform: uppercase;
}
.footer__number{
	padding: 0 0 16px 64px;
	font-size: 1.50em;
}
.footer__copyright{
	border-top: 2px solid  rgba(0,0,0,.24);
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: rgba(0,0,0,.80);
	font-weight: 120%;
	font-size: 0.75em;
	background: transparent;
}
@media screen and (max-width: 900px){
}
@media screen and (max-width: 599px){
	.slideshow__container{
		width: 100%;
		max-width: 300px;
	}
	.slideshow__container__text{
		width: 10%;
		max-width: 300px;
	}
	.footer__container{
		width: 100%;
		max-width: 600px;
	}
	.search__person__container{
		justify-content: center;
	}
}
