.container.produtos,
.container.fornecedor,
.container.cliente,
.container.pedido{
    margin-top: 32px;
    margin-bottom: 32px;
}
.fields__container > h4{
    font-weight:500;
    text-align:center;
    margin: 32px auto;
    color:rgba(0,0,0,.54);
}
.alert{
    margin: 32px auto !important;
}
.form-inline{
    display: flex;
    justify-content: space-between;
}
.form-inline .input-group-text{
    background: transparent !important;
    border: none !important;
    padding-left: 0px !important;
    padding-right: .75rem;
}
.form-inline .input-group{
    flex-direction: column;
}
.form-inline .form-control{
    width: 100% !important;
}
.input-group-append label,
.input-group-prepend label{
    padding: .375rem .75rem .375em 0;
}
@media screen and (max-width:599px) {
    .input-group.data_entrega{
        display: flex;
        flex-direction: column;
    }
    .input-group.data_entrega .form-control{
        width: 100%;
    }
}
