.form__login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    border: none;
    background-color: #ffffff;
    margin: 0 auto;
}
.form__fields__login{
    width: 100%;
}
.form__fields__login + .form__fields__login{
    padding-top: 16px;
}
.form__buttons__login{
    margin-top: 32px;
    margin-left: auto;
}
.form__buttons__login .form__button__next{
    border: none;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    padding:16px;
    border-radius: 4px;
    font-size: 1.10em;
}
.form__fields__login .form__fields__input input{
    width: 100%;
    color: #333333;
    align-items: center;
    padding: 8px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .54);
    background: transparent;
    cursor: pointer;
    caret-color: rgba(0, 0, 0, 0.54);
}
.form__fields__login .form__fields__input input:focus{
    background-color: #f2f3f5;
}
.register{
    text-align: center;
    font-weight: lighter;
    border: solid .5px #d3d3d3;
    box-shadow: 0px 0px 5px 1px #d3d3d3;
    border-radius: 8px;
    width: 50%;
    margin: auto;
    margin-top: 16px;
    padding: 8px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.54);
}
.register a{
    color: #0091EA;
    cursor: pointer;
}
.register a:hover{
    text-decoration: underline;
}
 @media screen and (max-width: 599px) {
     .register{
         width: 100%;
     }
 }
