.navbar{
    background-color: #fff;
}
.container.nav{
    height: auto;
}
.fade{
    animation-duration: 0s;
}
.dropdown > .dropdown-menu{
    right: 0;
    left: inherit;
    min-width: inherit !important;
}
.dropdown-item, .btn{
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.54) !important;
}
.dropdown-submenu:hover > .dropdown-menu{
    display: block !important;
    left: -186px !important;
    right: inherit !important;
    top: 20% !important;
    padding: 0px;
}
.dropdown-item{
    width: inherit !important;
    padding-top: 16px;
    padding-bottom: 16px;
}
.modal{
    background-color: rgba(0, 0, 0, 0.35);
}
.modal-header{
    background-color: rgba(0, 0, 0, .75);
    color: #ffffff;
}
@media screen and (max-width: 599px){
    .dropdown-submenu:hover > .dropdown-menu{
        left: -50% !important;
        top: 35% !important;
    }
    .emp__logo img{
        width: 100px
    }
    .container.nav{
        padding-right: 0;
    }
    .dropdown-item{
        padding: 12px 16px;
        width: inherit !important;
    }
}
