/* navigation bar */

.navbar-toggle{
	color: rgba(0, 0, 0, .54);
	border: rgba(0, 0, 0, .54);
	font-size: 1.75em;
}
.navbar-toggle:hover,
.navbar-toggle:focus{
	background-color: transparent !important;
}
.container-fluid{
	width: 100%;
}
.navbar-inverse .navbar-nav > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover{
	background-color: inherit;
	color: rgba(0, 0, 0, .37);
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
	color: rgba(0, 0, 0, .37);
	background-color: transparent;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form{
	border:none;
}
.navbar-right{
	margin-right: 0px;
}
.navbar{
	/* background-image: linear-gradient(to top, #E040FB, #4A148C); */
	background-color: #ffffff;
	border: none;
	border-radius: inherit;
	margin-bottom: 0;
}
.navbar-inverse .navbar-nav > li > a{
	color: rgba(0, 0, 0, .54);
}
.navbar-nav li a{
	padding: 16px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
	color: rgba(0, 0, 0, .54);
	padding: 16px 32px ;
}
.dropdown-menu{
	/* background-image: linear-gradient(to bottom, #E040FB, #4A148C); */
	background-color: #ffffff;
	color: rgba(0, 0, 0, .54);
	width: 250px;
	border: none;
	display: none;
	padding: 0px;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.54);
}
.dropdown-menu > li > a{
	display: flex;
	color: rgba(0, 0, 0, .54);
	align-items: center;
	font-size: 1.1em;
	border: none;
}
.dropdown-submenu:hover .dropdown-menu{
	display: block;
}
.dropdown-submenu > .dropdown-menu{
	background-color: #ffffff;
	background-image: none;
	margin: 0px;
	margin-left: 32px;
}
.btn{
	text-align: inherit;
}
