.dropdown-toggle::after{
    content: none !important;
}
.container.navbar{
    width: 100% !important;
    height: auto !important;
    display: flex;
    align-items: center;
}
.dropdown-menu{
    transform: none !important;
}
.dropdown{
    display: flex;
    justify-content: flex-end;
}
.fade{
    animation-duration: 0s !important;
}
