@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
    box-sizing: border-box;
    background-color: #f2f3f5 !important;
}
fieldset{
    border: none;
}
.form__sign__container{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.form__fields__container{
    width: 100%;
}
.form__fields{
    margin: 16px;
}
.form__fields label{
    color: #000000;
}
.form__fields input{
    display: flex;
    width: 90%;
    color: #333333;
    align-items: center;
    padding: 8px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .54);
    background-color: transparent;
    cursor: pointer;
}
.form__fields input:focus{
    background-color: #f2f3f5;
}
.buttons__area{
    display: flex;
    justify-content: flex-end;
}
.form__buttons{
    padding: 8px 48px 8px 0px;
}
.form__buttons .form__button__next{
    border: none;
    background-color: rgba(0, 0, 0, .75);
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
}
.form__button__next span, .form__button__reset span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.form__button__next span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 8px;
    transition: .3s;
}
.form__button__next:hover span{
    padding-right: 25px;
}
.form__button__next:hover span:after {
    opacity: 1;
    right: 0;
}
.form__button__reset{
    border: solid 1px rgba(0, 0, 0, .75);
    border-radius: 4px;
    font-size: 1.1em;
    padding: 16px;
    color: rgba(0, 0, 0, .75);
    background-color: #ffffff;
    cursor: pointer;
}
.form__button__reset span:after{
    content: '\00d7';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 8px;
    transition: .3s;
}
.form__button__reset:hover span{
    padding-right: 25px;
}
.form__button__reset:hover span:after {
    opacity: 1;
    right: 0;
}
@media screen and (max-width: 599px){
    .form__fields input{
        margin: 0 16px;
        width: 90%;
    }
    .form__fields label {
        margin-left: 16px;
    }
    .form__sign__container{
        flex-direction:column;
    }
    .buttons__area{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0;
    }
    .form__buttons{
        padding: 0;
        margin: 16px;
    }
}
