@import "navigationbar.css";
@import "footer.css";
*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', arial, sans-serif;
	margin: 0 auto;
	background-color: #f2f3f5 !important;
	/* height: 100vh; */
}
a:hover, a:focus{
	text-decoration: none;
	color: none;
}
ul, li{
	list-style: none;
}
/*--------------------------------------------------------header area--------------------------------------------------------*/
.header__container{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: #7FFFD4;*/
	background-color: #333;
	height: 200px;
}
.header__inc__name a{
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #01579B;
	font-size: 5em;
	color: #fff;
}
.header__inc__name a:hover{
	color: #fff;
}
/*--------------------------------------------------------navigation bar area--------------------------------------------------------*/

/*--------------------------------------------------------body area--------------------------------------------------------*/
.body__homepage__container{
	max-width: 1259px;
	width: 100%;
	margin: auto;
}
.imgs__container{
	width: 100%;
	padding: 64px 0;
}
.plusSlides{
	margin: auto;
	max-width: 550px;
	max-height: 275px;
	box-shadow: 0px 5px 10px #888888;
}
.fade{
	opacity: 4;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.infos__container{
	width: 60%;
}
.block__infos{
    padding: 8px 24px;
	background-color: #ffffff;
	margin: 16px 0px;
	border-radius: 4px;
	border: solid .5px #d3d3d3;
	box-shadow: 2.5px 5px 10px #d3d3d3;
}
.block__infos:last-of-type{
	margin-bottom: 64px;
}
.block__infos:first-of-type{
	margin-top: 0px;
}
.infos{
	text-align: justify;
    word-break: break-all;
    line-height: 150%;
    font-size: 1em;
    margin: 0;
    font-weight: normal;
	color: rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}
/*--------------------------------------------------------footer area--------------------------------------------------------*/

/*--------------------------------------------------------sobre e contato area--------------------------------------------------------*/
.well{
	background-color: #ffffff !important;
}
.well p{
	margin: 0;
	line-height: 150%;
	text-indent: 40px;
}
/*--------------------------------------------------------media screen area--------------------------------------------------------*/

@media screen and (min-width: 600px) and (max-width: 900px){
	.slideshow__container__text{
		justify-content: center;
		width: 100%;
		margin-left: 16px;
		margin-right: 16px;
	}
}
@media screen and (max-width: 599px){
	.slideshow__container{
		width: 100%;
		margin: 0px;
	}
	.plusSlides{
		width: 300px;
		height: 150px;
	}
	.text{
		text-indent: 16px;
		padding: 8px 16px;
	}
	.infos__container{
		width: 100%;
	}
}
