@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', arial, sans-serif;
	margin: 0 auto;
}
a:hover, a:focus{
	text-decoration: none;
	color: none;
}
ul, li{
	list-style: none;
}
/*--------------------------------------------------------header area--------------------------------------------------------*/
.header__container{
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: #7FFFD4;*/
	background-color: #333;
	height: 200px;
}
.header__inc__name a{
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: #01579B;
	font-size: 5em;
	color: #fff;
}
.header__inc__name a:hover{
	color: #fff;
}
/*--------------------------------------------------------navigation bar area--------------------------------------------------------*/

/*--------------------------------------------------------body area--------------------------------------------------------*/
.body__homepage__container{
	max-width: 1259px;
	width: 100%;
	margin: auto;
}
.imgs__container{
	width: 100%;
	padding: 64px 0;
}
.plusSlides{
	margin: auto;
	max-width: 550px;
	max-height: 275px;
}
.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
.slideshow__container{
	display: flex;
	flex-direction: column;
}
.homepage__text__container{
	width: 100%;
}
.slideshow__container__text{
	margin: auto;
	width: 100%;
	max-width: 600px;
	background-color: #e9e9e9;
	border: 2px solid #E57373;
	border-radius: 8px;
	margin-bottom: 64px;
}
.slideshow__container__text:hover{
	box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.54);
}
.text{
	max-width: 600px;
	padding: 16px 32px;
	text-align: justify;
	line-height: 170%;
	text-indent: 40px;
}
@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}
/*--------------------------------------------------------footer area--------------------------------------------------------*/
.footer__container{
	display: flex;
	border-top: 2px solid gray;
	height: 200px;
	width: 100%;
}
.footer__logo__container{
	width: 100%;
	max-width: 300px;
	background: #333333;
	height: 100%;
	position: relative;
}
.footer__logo{
	max-width: 200px;
	width: 100%;
	position: absolute;
	right: 32px;
	top: 32px;
	color: #ffffff;
}
.footer__container__columns{
	display: flex;
	background-color:#333333;
	width: 100%;
	height: 100%;
	position: relative;
}
.footer__column{
	color:  #ffffff;
}
.footer__nav__links{
	display: flex;
	flex-direction: column;
	padding-bottom: 32px;
	left: 0;
}
.footer__nav__links a{
	text-decoration: none;
	color: #B3E5FC;
	font-size: 0.85em;
	padding: 0 32px 0 64px;
}
.footer__nav__links a:hover{
	text-decoration: underline;
}
.footer__column__title{
	font-size: 90%;
	padding: 16px 64px 0 64px;
	text-transform: uppercase;
}
.footer__number{
	padding: 0 0 16px 64px;
	font-size: 1.50em;
}
.footer__copyright{
	border-top: 2px solid  rgba(0,0,0,.24);
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: rgba(0,0,0,.80);
	font-weight: 120%;
	font-size: 0.75em;
	background: transparent;
}

/*--------------------------------------------------------sobre e contato area--------------------------------------------------------*/
.well p{
	margin: 0;
	line-height: 150%;
	text-indent: 40px;
}

@media screen and (max-width: 900px){
	/* .navbar__links {
		flex-wrap: wrap;
	} */
}
@media screen and (max-width: 599px){
	.slideshow__container{
		width: 100%;
		margin: 0px 8px;
	}
	.slideshow__container__text{
		width: 100%;
		margin: 0px 8px;
	}
	.footer__container{
		width: 100%;
	}
}
