@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Roboto', arial, sans-serif;
    box-sizing: border-box;
    background-color: #f2f3f5 !important;
}
fieldset{
    border: none;
}
hr{
    color: rgba(0, 0, 255, 0.34);
}
.body__container{
    background: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    /* border-radius: 8px; */
    max-width: 1000px;
    width: 100%;
    margin:auto;
    border: solid .5px #d3d3d3;
	box-shadow: 5px 5px 10px #d3d3d3;
}
.form__container{
    width: 100%;
}
.form__sign__container{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.form__fields__container{
    width: 100%;
}
.form__fields{
    padding: 16px 16px;
}
.form__fields label{
    align-items: center;
    color: #000000;
}
.form__fields input{
    display: flex;
    width: 90%;
    color: #000000;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #0091EA;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    caret-color: rgba(0, 0, 0, 0.54);
}
.form__fields input:focus{
    border-radius: 4px;
    border: solid 2px #0091EA;
    box-shadow: 0px 0px 5px 1px #d3d3d3;
    padding: 6px 6px 8px;
}
.buttons__area{
    display: flex;
    justify-content: flex-end;
}
.form__buttons{
    padding: 8px 48px 8px 0px;
}
.form__buttons .form__button__next{
    border: none;
    background-color: #0091EA;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
}
.form__button__next span, .form__button__reset span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.form__button__next span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 8px;
    transition: .3s;
}
.form__button__next:hover span{
    padding-right: 25px;
}
.form__button__next:hover span:after {
    opacity: 1;
    right: 0;
}
.form__button__reset{
    border: solid 1px #0091EA;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 16px;
    color: #0091EA;
    background-color: #ffffff;
    cursor: pointer;
}
.form__button__next:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 10px 20px 0 rgba(0,0,0,.19);
}
.form__button__reset:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 5px 10px 0 rgba(0,0,0,.19);
}
.form__button__reset span:after{
    content: '\00d7';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 8px;
    transition: .3s;
}
.form__button__reset:hover span{
    padding-right: 25px;
}
.form__button__reset:hover span:after {
    opacity: 1;
    right: 0;
}
@media screen and (max-width: 1150px) {
    .body__container{
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
    }
    .form__sign__container{
        margin: auto;
    }
    .form__fields__container{
        margin: auto;
        display: flex;
        align-items: center;
        width: 100%;
    }
    .form__fields{
        max-width: 350px;
        width: 100%;
    }
    .form__buttons{
        justify-content: center;
    }
}
@media screen and (max-width: 599px){
    .form__fields input{
        margin: 0 16px;
        width: 90%;
    }
    .form__fields label {
        margin-left: 16px;
    }
}
/*--------------------------------------------------------Sign In--------------------------------------------------------*/
.body__login__container{
    text-transform: none;
    margin: 32px;
    background: transparent;
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.form__login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: solid .5px #d3d3d3;
	box-shadow: 0px 0px 5px 1px #d3d3d3;
    border-radius: 16px;
    max-width: 400px;
    background-color: #ffffff;
}
.form__fields__login{
    color: #333333;
    padding: 16px;
}
.form__buttons__login{
    padding: 8px;
    margin-left: auto;
}
.form__buttons__login .form__button__next{
    border: none;
    background-color: #0091EA;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 10px 20px 0 rgba(0,0,0,.19);
    padding: 16px;
    border-radius: 4px;
    font-size: 1.10em;
    cursor: pointer;
}
.form__fields__login .form__fields__input input{
    width: 350px;
    color: #333333;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #0091EA;
    background: transparent;
    cursor: pointer;
    caret-color: rgba(0, 0, 0, 0.54);
}
.form__fields__login .form__fields__input input:focus{
    border-radius: 4px;
    padding: 6px 6px 8px;
    border: solid 2px #0091EA;
	box-shadow: 0px 0px 5px 1px #d3d3d3;
}
.register{
    text-align: center;
    font-weight: lighter;
    border: solid .5px #d3d3d3;
    box-shadow: 0px 0px 5px 1px #d3d3d3;
    border-radius: 8px;
    width: 50%;
    margin: auto;
    margin-top: 16px;
    padding: 8px;
    background-color: #ffffff;
}
.register a{
    color: #0091EA;
    cursor: pointer;
}
.register a:hover{
    color: #9E9E9E;
}
